// begin header 
header.header
    .header__top
        .header__container
            .header__row

                // begin languages 
                ul.languages
                    li.languages__item.active
                        a.languages__link(href="/")
                            img(src="img/languages/rus.jpg", alt="Language image")
                    li.languages__item
                        a.languages__link(href="/")
                            img(src="img/languages/ukr.jpg", alt="Language image")
                    li.languages__item
                        a.languages__link(href="/")
                            img(src="img/languages/kaz.jpg", alt="Language image")
                    li.languages__item
                        a.languages__link(href="/")
                            img(src="img/languages/bel.jpg", alt="Language image")
                // end languages 

                // begin logo 
                .logo.header__logo
                    a(href="index.html").logo__link
                        img(src="img/logo/logo.png", alt="Logotype")
                // end logo 

                // begin account 
                .account
                    .account__top
                        .account__img
                            img(src="img/account/user.png", alt="User")
                        .account__text
                            span Личный кабинет
                            img(src="img/account/arrow-down.png", alt="Arrow down")
                        ul.account__dropdown
                            li.account__dropdown-item
                                a(href="/") Вход
                            li.account__dropdown-item
                                a(href="/") Регистрация
                // end account 

    .header__main
        .header__container
            .header__row

                // begin service 
                .service
                    button.service__button
                        svg
                        span Наши услуги
                        svg
                    // begin services 
                    .services
                        ul.services__list
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                    // end services 
                // end service 

                // begin navigation 
                nav.navigation
                    ul.navigation__list.site-list
                        li.site-list__item
                            a.site-list__link(href="/") Главная
                        li.site-list__item
                            a.site-list__link(href="/") О сервисе
                        li.site-list__item
                            a.site-list__link(href="/") Новости
                        li.site-list__item
                            a.site-list__link(href="/") Заказы от клиентов
                        li.site-list__item
                            a.site-list__link(href="/") Предоставить услугу
                        li.site-list__item
                            a.site-list__link(href="/") Получить услугу
                // end navigation 

// end header 