// begin header 
header.header
    .header__top
        .header__container
            .header__row

                // begin languages 
                ul.languages
                    li.languages__item
                        a.languages__link(href="/")
                    li.languages__item
                        a.languages__link(href="/")
                    li.languages__item
                        a.languages__link(href="/")
                    li.languages__item
                        a.languages__link(href="/")
                // end languages 

                // begin logo 
                .logo.header__logo
                    a(href="index.html").logo__link
                        img(src="img/logo/logo.png", alt="Logotype")
                // end logo 

                // begin account 
                .account
                    .account__img
                        img(src="", alt="")
                    .account__text
                        | Личный кабинет
                        img(src="", alt="")
                    ul.account__dropdown
                        li.account__dropdown-item
                            a(href="/") Вход
                        li.account__dropdown-item
                            a(href="/") Регистрация
                // end account 

    .header__main
        .header__container
            .header__row

                // begin service 
                .service
                    button.service__button
                        svg
                        span Наши услуги
                        svg
                    // begin services 
                    .services
                        ul.services__list
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                            li.services__item
                    // end services 
                // end service 

// end header 